<div class="jumbotron">
    <div class="row">
        <div class="col-9">
            <h1 class="display-4">Angular Pokédex</h1>
            <p class="lead subheader">Your guide to the best Pokémon!</p>
        </div>
    
        <div class="col-3">
            <img class="header-img" 
                src="https://purepng.com/public/uploads/medium/purepng.com-pokemonpokemonpocket-monsterspokemon-franchisefictional-speciesone-pokemonmany-pokemonone-pikachu-1701527784511d7qud.png"
            />
        </div>
    </div>
</div>

<router-outlet></router-outlet>
<ng-http-loader></ng-http-loader>