<ng-container *ngIf="(pokemon$ | async) as pokemon">
    <div class="card poke-card">
        <div class="card-header">
            <h5 class="card-title">
                <a 
                    class="poke-link"
                    rel="apple-touch-icon"
                    [routerLink]="['/pokemon-view', pokemon.name]"
                >
                    {{ pokemon.name | titlecase }}
                </a>
            </h5>
            <p class="card-text">
                <app-star-rating 
                    [baseXp]="pokemon.base_experience"
                ></app-star-rating>
            </p>
          </div>

        <img 
            class="card-img" 
            [alt]="pokemon.name"
            [src]="pokemon.sprites.front_default" 
        />
      </div>
</ng-container>
